.icon-step {
  color: #15314c; /* navy por defecto */
  transition: color 0.3s ease;
  cursor: pointer;
}

.icon-step:hover {
  color: #e5b53e; /* amarillo al pasar el mouse */
}

.step-100 {
  height: 100px; /* alto fijo para todo el contenido del item */
  width: 100%; /* ocupa el ancho del Col */
}
